body {
    font-family: Arial, sans-serif;
}

header nav ul {
    list-style: none;
    padding: 0;
    background: #00af1d;
    text-align: center;
    color : white;
}

header nav ul li {
    display: inline;
    margin-right: 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}

section {
    padding: 20px;
    margin-top: 20px;
    background: #000000;
    text-align: center;
    background-color: #00af1d;
    color : white;

}



footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: white;
}

button {
    padding: 10px 20px;
    background-color: #5c67f2;
    color: white;
    border: none;
    cursor: pointer;
}
